transformers==4.44.2  
torch==2.4.1
torchvision==0.19.1
plotly==6.0.0
pandas==2.2.3
scipy==1.15.1
nbformat==5.10.4
ipykernel==6.29.5
symforce==0.9.0
apriltag==0.0.16
opencv-python==4.10.0.84
pillow==11.1.0
gtsam==4.2
norfair==2.2.0